Repository areweguiyet/areweguiyet, pull requests merged in 2023-06, with the labels that each got.

#112 Update CLI script dependencies
  cli/Cargo.lock
  cli/Cargo.toml
  cli/src/cli.rs
  cli/src/main.rs
  localposts/2019-01-13_rust2019.md
Labels: cli, dependencies

#111 Add gtk4
  ecosystem.json
Labels: gui-crate-framework

#109 Add GemGui
  ecosystem.json
Labels: gui-crate-framework

#113 Require `cargo fmt` and `cargo clippy` to pass CI
  .github/workflows/cli.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  cli/.gitignore
  cli/src/cli.rs
  cli/src/main.rs
  cli/src/newsfeed.rs
Labels: enhancement, cli
